$Q/N1$

In [11]:
worked_hour=37
rate=12 #per hour
amount=worked_hour*rate
print("The total amount that the firm should pay to employee is $",amount)

The total amount that the firm should pay to employee is $ 444

$Q/N2$

In [ ]:
 worked_hour=eval(input("Enter the total hour worled by a employee"))
rate=12 #per hour
amount=worked_hour*rate
print("The total amount that the firm should pay to employee is $",amount)

$Q/N3$

In [2]:
name=input("Enter the name of students")
subject=input("ENter the subject name")
quiz1=eval(input("Enter the marks obtained in Quiz1(out of 20):"))
quiz2=eval(input("Enter teh amrks obtained inQuiz2(out of 20):"))
class_test=eval(input("Enter the marks obtained in class test(out of 50):"))
assignment=eval(input("Enter the marks obtained from assignment(out of 100):"))
project=eval(input("Enter the marks obtained from project(out of 200):"))

#converting in percentage
quiz1_per=(quiz1/ 20)*100
quiz2_per=(quiz2/20)*100
classtest_per=(class_test/50)*100
assignment_per=(assignment/100)*100
project_per=(project/200)*100

Total_marks= quiz1_per*0.1+quiz2_per*0.1+classtest_per*0.25+assignment_per*0.25+project_per*0.30

print("The total marks obtained by {} in {} is {}%.".format(name,subject,Total_marks))

Enter the name of students nura
ENter the subject name math
Enter the marks obtained in Quiz1(out of 20): 17
Enter teh amrks obtained inQuiz2(out of 20): 18
Enter the marks obtained in class test(out of 50): 45
Enter the marks obtained from assignment(out of 100): 90
Enter the marks obtained from project(out of 200): 160

The total marks obtained by nura in math is 86.5.

$Q/N4$

In [5]:
num=eval(input("Enter a five digit number"))
x=0
while num>0:
    x=x+num%10
    num=num//10

print(x)

Enter a five digit number 12345

15

$Q/N5$

In [ ]:
num=eval(input("Enter the five-digit number"))
x=0
wh

$Q/N6$

In [4]:
name=input("Enter the name  of the student.")
q1=eval(input("Ente the marks obtained in quiz1(out of 20)"))
q2=eval(input("Ente the marks obtained in quiz12(out of 20)"))
ctest=eval(input("Ente the marks obtained in class test(out of 50)"))
assign=eval(input("Enter the marks obtained in ASSIGNMENT(out of 100)"))
proj=eval(input("Enterthe marks obtained in quiz1(out of 200)"))

Enter the name  of the student. 23
Ente the marks obtained in quiz1(out of 20) 34
Ente the marks obtained in quiz12(out of 20) 4