$$LIST==Array   of  elements$$

In [3]:
list1=['1','2','3','4']
list1

['1', '2', '3', '4']

In [9]:
type(list1)

list

In [15]:
list2=['Hello','you']
list2

['Hello', 'you']

In [17]:
list3=['1','h','2','3','t']
list3

['1', 'h', '2', '3', 't']

In [21]:
list4=[1,'Apple',10.5,10+20,True]
list4

[1, 'Apple', 10.5, 30, True]

In [25]:
list5=['a','d','a','a']
list5

['a', 'd', 'a', 'a']

In [29]:
list7=[['a','d']]
list7

[['a', 'd']]

$Max$

In [32]:
max(list1)

'4'

In [36]:
max(list2)

'you'

In [40]:
max(list3)

't'

In [42]:
print(max(list1))
print(max(list2))
print(max(list3))

4
you
t

$len$

In [45]:
print(len(list1))
print(len(list2))
print(len(list3))

4
2
5

$sum$

In [48]:
print(sum(list2))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [50]:
print(sum(list1))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#sum

#eval

#range

$in$

In [63]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [65]:
1 in list1
2 in list1
3 in list1
4 in list1

True

In [67]:
for i in list1:
    print(i)

1
2
3
4

$COncatenation$

In [70]:
list1

[1, 2, 3, 4]

In [72]:
list2

['Hello', 'you']

In [78]:
print(list1+list2)
print(list2+list1)

[1, 2, 3, 4, 'Hello', 'you']
['Hello', 'you', 1, 2, 3, 4]

In [80]:
list1*3 #list+list+list

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
list1-list2
list1/list2
list1*list2

$Index$

In [83]:
list3

['1', 'h', '2', '3', 't']

In [85]:
#python index starts with zero
list3[0],list3[1],list3[2],list3[4]

#list3[i]
#i=0,1,2,3,4

('1', 'h', '2', 't')

In [89]:
list3[-3]

-5 -4 -3 -2 -1
 1  h  2  3  t
 0  1  2  3  4

'2'

In [93]:
for i in range(len(list3)):
    print('positive index is: {} and negative index is {}: for the element {}.' .format(i,i-len(list3),list3[i]))

positive index is: 0 and negative index is -5: for the element 1.
positive index is: 1 and negative index is -4: for the element h.
positive index is: 2 and negative index is -3: for the element 2.
positive index is: 3 and negative index is -2: for the element 3.
positive index is: 4 and negative index is -1: for the element t.

In [ ]:
#wap find the element which are having len,3
#list=['Apple','ball','cat',

In [109]:
listx=['Apple','ball','cat','car','dog']
for i in range(len(listx)):
    if len(listx[i])>3:
        print(listx[i])

Apple
ball

In [ ]:
#wap find the element which are having #
#list=['Ap#le','ball','c#at',

In [129]:
listy=['Ap#le','ball','c#at']
for i in range (len(listy)):
    if '#' in (listy[i]):
        print(listy[i])

Ap#le
c#at

In [131]:
list1=[1,2,3,['Apple','Ball']]
#retrieve the ball using index
list1[3][1]

'Ball'

In [143]:
list2=[[[[[[['cherry']]]]]]]
list2[0][0][0][0][0][0][0]

'cherry'

In [173]:
lis3 = [[['A','B',[[[1,2,3,['Car']]]]]]]
#retrieve the car
lis3[0][0][2][0][0][3][0]

'Car'

$Mutable$

In [180]:
sring1='welcome'
sring1[2]='L'
#string are immutable

TypeError: 'str' object does not support item assignment

In [184]:
list1=['1','2','3','4']
list1[1]=6
list1

['1', 6, '3', '4']

$Slice$

In [191]:
list1=[1,2,3,4,5,6,7,'p','y','t','ht','o','n']
print(list1[2:10:2])
print(list1[2:8:2])
print(list1[2:-10:2])
print(list1[2:-10:-2])
print(list1[2:11:4])

[3, 5, 7, 'y']
[3, 5, 7]
[3]
[]
[3, 7, 'ht']

In [ ]:
-Reading a list
-Differernt ways to provide elements
-Type/min/max/sum/len
-in
-concatenation
-index
-mutable
-slice

In [197]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$Clear and Copy$

In [202]:
list1=[1,2,3,4]
list2=list1.copy()
list2

[1, 2, 3, 4]

In [210]:
list1.clear()

In [212]:
print("list1",list1)
print("list2",list2)

list1 []
list2 [1, 2, 3, 4]

$$DAY-29$$

$append$

In [4]:
#add(something) to the end of a written document.
listx=[100,200]
#[100,200,300]
listx.append(300)
listx

[100, 200, 300]

In [8]:
listx.append([300,500])

In [11]:
listx

[100, 200, 300, [300, 500]]

In [13]:
listx.append('apple')

In [15]:
listx

[100, 200, 300, [300, 500], 'apple']

In [17]:
#Input list= [1,2,3,4,5]
#create a new list=[1,4,9,16,25]
lis3= [1,2,3,4,5]
for i in lis3:
    print(i*i)

1
4
9
16
25

In [21]:
lis3= [1,2,3,4,5]
output=[]
for i in lis3:
    output.append(i*i)

output

[1, 4, 9, 16, 25]

In [24]:
lix=['hyd','nepal','ktm']
#output =['Hyd','Nepal','Ktm']

for i in lix:
    print(i.capitalize())

Hyd
Nepal
Ktm

In [28]:
lix=['h#d','n#pal','ktm']
for i in lix:
    if '#' in i:
        print(i)

h#d
n#pal

In [30]:
lix=['h#d','n#pal','ktm']
for i in lix:
    if '#' in i:
        output.append(i)

output

[1, 4, 9, 16, 25, 'h#d', 'n#pal']

$List comprehension$

In [4]:
#cod ein a single line--->speed the process
list1=[1,2,3,4,5] #input

output=[]
for  i in list1:
    output.append(i*i)

output

#step-1: initialize the list output=[]
#step-2: iterate the loop
#step-3: you save the output
output1=[i*i for i in list1]
output1

#

[1, 4, 9, 16, 25]

In [10]:
lix=['hyd','nepal','ktm']
#output =['Hyd','Nepal','Ktm']
output=[]
for i in lix:
    output.append(i.capitalize())
output


outps=[i.capitalize() for i in lix]
outps

['Hyd', 'Nepal', 'Ktm']

In [20]:
#create of lsit of 20 numnbers from 1 to 20
#for i in range(1,21):
 #   print(i)
#################################################
numbers=[]
for i in range(1,21):
    numbers.append(i)
numbers
#########################################################
numbers1=[i for i in range(1,21)]
numbers1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [22]:
#list comprehension with if condition
lix=['h#d','n#pal','ktm']
for i in lix:
    if '#' in i:
        output.append(i)

output

#[<o/p> <for loop> <if_condition>]
cut=[i for i in lix if '#' in i]
cut

['h#d', 'n#pal']

In [32]:

lise=['abcd','adc','re','sd','d']
# elements less than 3
for i in lise:
    if len(i)>3:
        print(i)

lis=[i for i in lise if len(i)<3]
lis

abcd

['re', 'sd', 'd']

In [44]:
#if else

list1=[1,2,3,4,5]

for i in list1:
    if i%2==0:
        print("even:{}".format(i))
    else:
        print("odd:{}".format(i))

odd:1
even:2
odd:3
even:4
odd:5

In [54]:
#if else

list1=[1,2,3,4,5]
output=[]
for i in list1:
    if i%2==0:
        output.append("even:{}".format(i))
    else:
        output.append("odd:{}".format(i))
output

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5']

In [15]:
list1=[1,2,3,4,5]
cutp=["even:{}".format(i) if i%2==0   else "odd:{}".format(i)  for i in list1]
cutp

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5']

$count$

In [19]:
list5=['1','A','d','r','a','a','d']
count=0

for i in list5:
    if i=='A':
        count=count+1


print(count)

1

$Extend$

In [24]:
list1=['A','B','C']
list2=[1,2,3]

list1.extend(list2)
list1
#list1 will be updated with list2 values

['A', 'B', 'C', 1, 2, 3]

In [26]:
list1=['A','B','C']
list2=[1,2,3]
list3=list1+list2
print(list3)

['A', 'B', 'C', 1, 2, 3]

Append vs extend vs concat

-

$Iterator$

In [29]:
- iterator word =======> loop

-the elements we can print using for loop

-string='python'  we can print each elemetn using for loop

-list1= [1,2,3]  we can print each elements using for loop

SyntaxError: invalid syntax (3551412293.py, line 1)

In [31]:
val=reversed('python')

In [39]:
val=reversed('python')
for i in val:
    print(i)

n
o
h
t
y
p

In [43]:
list1=[1,2,3]
list1.extend('python')
list1.append('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

$pop$-$remove$-$del$

In [46]:
#pop
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [50]:
list1
list1.pop(6)

'h'

In [52]:
#remove
list1

[1, 2, 3, 'p', 'y', 't', 'o', 'n']

In [58]:
list1.remove(2)

In [60]:
list1

[1, 3, 'p', 'y', 't', 'o', 'n']

In [62]:
#del
del(list1)

In [64]:
list1

NameError: name 'list1' is not defined

In [ ]:
-index  vs multiple

-insert  vs append

-reverse=========== reversed

-sort ============ sorted


#get all the differences all the information

#share your screenshot

In [66]:
list1=[1,2,3]
list1.insert(4)

TypeError: insert expected 2 arguments, got 1

In [80]:
list1=['Ram','Aasha','Raj']
list2=[25,30,35]
#Ram age is 25'

for i, j in zip(list1,list2):
    print ("{} age is {}".format(i,j))

Ram age is 25
Aasha age is 30
Raj age is 35

In [122]:
list1=[100,200,300]
list2=[25,30,35]
output=[i+j for i,j in zip(list1,list2)]
output

[125, 230, 335]

In [6]:
list1=['What is my name?','Where do i live?','What do i do?']
list2=['Nura','Pokhara','Nothing']
marks=0
for i in range(len(list1)):
    
    answer=input("Enter the answer")
    if answer.lower()==list2
        marks+=1
    else:
        print('No marks')

Enter the answer nura

TypeError: 'list' object is not callable

$DAY-30$