In [ ]:
#i'm modifying the code

In [1]:
try:
    Basic_salary=eval(input("Enter ramesh's basic salary"))
    DA=(40*Basic_salary)/100
    HRA=(20*Basic_salary)/100
    Gross_salary=Basic_salary+DA+HRA
    print("The gross salary of ramesh is",Gross_salary)

except exception as er:
    print(er)

Enter ramesh's basic salary 50000

The gross salary of ramesh is 80000.0

$****Q/N 2****$

In [3]:
try:
    Distance=eval(input("Enter the distance between two cities in KM:"))
    meter=Distance*1000
    print("The distance between two cities in meter is",format(meter))
    feet=Distance*3280.84
    print("The distance between two cities in feet is",format(feet))
    inches=feet*12
    print("The distance between two cities in inches is",format(inches))
    cm=inches*2.54
    print("The distance between two cities in centimeter is",format(cm))

except Exception as error:
    print(error)

Enter the distance between two cities in KM: 100

The distance between two cities in meter is 100000
The distance between two cities in feet is 328084.0
The distance between two cities in inches is 3937008.0
The distance between two cities in centimeter is 10000000.32

$****Q/N3****$

In [5]:
try:
    math=eval(input("Enter the marks obtained in math"))
    science=eval(input("Enter the marks obtained in science"))
    nepali=eval(input("Enter the marks obtained in nepali"))
    english=eval(input("Enter the marks obtained in english"))
    social=eval(input("Enter the marks obtained in social"))
    
    agg=math+science+nepali+english+social
    print("The aggregate marks obtained is ",agg)
    
    per=(agg/500)*100
    print("The total percentage obtained is",per,"%")

except Exception as error:
    print(error)

Enter the marks obtained in math 50
Enter the marks obtained in science 90
Enter the marks obtained in nepali 80
Enter the marks obtained in english 70
Enter the marks obtained in social 70

The aggregate marks obtained is  360
The total percentage obtained is 72.0 %

$****Q/N4****$

In [8]:
try:
    fah=eval(input("Temperature of a city in Fahrenheit degree is"))
    cen=(fah-32)/1.8
    print("The temperatyre in centigrade degree is",cen)

except Exception as error:
    print(error)

Temperature of a city in Fahrenheit degree is 67

The temperatyre in centigrade degree is 19.444444444444443

$****Q/N5****$

In [10]:
try:
    length=eval(input("The length of rectangle is"))
    breadth=eval(input("The breadth of the rectangle is"))
    area=length*breadth
    perimeter=(length+breadth)*2
    print("The area of the rectangle is",area,"cm sq.")
    print("The perimeter of the rectangle is",perimeter,"cm")
    
    r=eval(input("The radius of the circle is"))
    circ=2*r*3.14
    ar=3.14*r*r
    print("The circumstances of cicrlce is",circ)
    print("The area of circle is",ar) 

except Exception as error:
    print(error)

The length of rectangle is 30
The breadth of the rectangle is 20

The area of the rectangle is 600 cm sq.
The perimeter of the rectangle is 100 cm

The radius of the circle is 4

The circumstances of cicrlce is 25.12
The area of circle is 50.24

 $****Q/N6****$

In [1]:
try:
    c=eval(input("Enter the first number"))
    d=eval(input("Enter the second number"))
    #swaping values
    c,d=d,c
    print("c is",c)
    print("d is",d)
except Exception as error:
    print(error)

Enter the first number 3
Enter the second number 5

c is 5
d is 3

$****Q/N7****$

In [13]:
num=eval(input("Enter the five-digit number"))
#using reversed function
reversed_num=eval(str(num)[::-1])
print("The reverse of number is",reversed_num)

Enter the five-digit number 12345

The reverse of number is 54321

$*****Q/N8*****$

In [35]:
num=eval(input("Enter the four-digit number"))
#using string slicing
x=int(str(num)[:1])
y=int(str(num)[-1:])
sum=x+y
print("The sum of first and last number is",sum)

Enter the four-digit number 1234

The sum of first and last number is 5

$Q/N9$

In [40]:
#Inthe town
tp=eval(input("Total Population is"))
men=52/100*tp
women=tp-men
literate_p=48/100*tp
lit_men=35/100*tp
lit_women=literate_p-lit_men
ill_men=men-lit_men
ill_women=women-lit_women
print(ill_men)
print(ill_women)

Total Population is 80000

13600.0
28000.0

In [54]:
#another method#Inthe town
tp=eval(input("Total Population is"))
men=eval(input("the total percentage of male is"))
women=eval(input("the total percentage of female is"))
print("The total number of men are {}% of total pop. i.e {}".format(men,men/100*tp))
print("The total number of women are {}% of total pop. i.e {}".format(women,women/100*tp))
#the literate men and women finding
lit=eval(input("The total percentage of literate male populatiom is"))
lit_man=lit/100*80000
lit_women=(48/100*80000)-lit_man
print("Which means number of literate men is",lit_man, "And literate women is",lit_women)

#nwo the final answer
ill_men=(men/100*tp)-lit_men
ill_women=(women/100*tp)-lit_women
print("So the number of illetrate men is",ill_men)
print("So the number of illetrate women is",ill_women)

Total Population is 80000
the total percentage of male is 52
the total percentage of female is 48

The total number of men are 52% of total pop. i.e 41600.0
The total number of women are 48% of total pop. i.e 38400.0

The total percentage of literate male populatiom is 35

Which means number of literate men is 28000.0 And literate women is 10400.0
So the number of illetrate men is 13600.0
So the number of illetrate women is 28000.0

$Q/N10$